<%= form_for(@wanderungen) do |f| %>
  <% if @wanderungen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wanderungen.errors.count, "error") %> prohibited this wanderungen from being saved:</h2>

      <ul>
      <% @wanderungen.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
