<div class="panel-body">
  <%= form_for @wanderungen, html: { multipart: true } do |f| %>
    <% if @wanderungen.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@wanderungen.errors.count, "Fehler") %> verhinderte das Speichern der Wanderung:</h2>

        <ul>
        <% @wanderungen.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :description, "Titel" %><br>
      <%= f.text_field :description, class: "form-control" %>
    </div>
      <div class="form-group">
      <%= f.label :image, "Bild hochladen" %>
      <%= f.file_field :image, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :body, "Beschreibung der Wanderung" %><br>
      <%= f.text_area :body, rows: "5", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :schwierigkeitsgrad, "Schwierigkeitsgrad nach SAC Wanderskala" %><br>
      <%= f.select(:schwierigkeitsgrad, options_from_collection_for_select(Schwierigkeitsgrad.all, :code, :description), {:include_blank => true}, {class: "form-control"}) %>
    </div>
      <div class="form-group">
      <%= f.label :region %><br>
      <%= f.select(:region, options_from_collection_for_select(Region.all, :id, :description), {:include_blank => true}, {class: "form-control"}) %>
    </div>
    <div class="form-group">
      <%= f.label :zeitdauer, "Anzahl Tage" %><br>
      <%= f.number_field :zeitdauer, :step => 0.5, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :upmeter, "Höhenmeter rauf" %><br>
      <%= f.number_field :upmeter, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :downmeter, "Höhenmeter runter" %><br>
      <%= f.number_field :downmeter, class: "form-control" %>
    </div>
     <div class="form-group">
      <%= f.label :moreinfo, "Link zu zusätzlichen Infos" %><br>
      <%= f.text_field :moreinfo, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit "Los geht's!", class: "btn btn-primary" %>
  </div>
</div>

<% end %>