<h1>Listing wanderungens</h1>

<%= search_form_for @search do |f| %>
	<div class="field">
		<%= f.label :schwierigkeitsgrad_code_gteq, "Schwierigkeitsgrad zwischen" %>
		<%= f.select :schwierigkeitsgrad_code_gteq, options_from_collection_for_select(Schwierigkeitsgrad.all, :code, :description), include_blank: true %>
		<%= f.label :schwierigkeitsgrad_code_lteq, "und" %>
		<%= f.select :schwierigkeitsgrad_code_lteq, options_from_collection_for_select(Schwierigkeitsgrad.all, :code, :description), include_blank: true %>
	</div>
		<div class="field">
		<%= f.label :zeitdauer_gteq, "Zeitbedarf zwischen" %>
		<%= f.number_field :zeitdauer_gteq, :step => 0.5 %>
		<%= f.label :zeitdauer_lteq, "und" %>
		<%= f.number_field :zeitdauer_lteq, :step => 0.5 %>
	</div>
	<div class="actions"><%= f.submit "Search" %></div>
<% end %>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>User</th>
      <th>Schwierigkeitsgrad</th>
      <th>Zeitdauer</th>
      <th>Weitere infos</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @wanderungens.each do |wanderungen| %>
      <tr>
        <td><%= wanderungen.description %></td>
        <td><%= wanderungen.user.email if wanderungen.user %></td>
        <td><%= wanderungen.schwierigkeitsgrad.description if wanderungen.schwierigkeitsgrad %></td>
        <td><%= wanderungen.zeitdauer if wanderungen.zeitdauer %></td>
        <td><%= wanderungen.moreinfo if wanderungen.moreinfo %></td>
        <td><%= link_to 'Show', wanderungen %></td>
        <td><%= link_to 'Edit', edit_wanderungen_path(wanderungen) %></td>
        <td><%= link_to 'Destroy', wanderungen, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wanderungen', new_wanderungen_path %>
