<%= render "pages/home" %>

<div id="wanderungens" class="transitions-enabled">
	<% @wanderungens.each do |wanderungen| %>
		<div class="box panel panel-default">
			<%= link_to image_tag(wanderungen.image.url(:medium)), wanderungen %>
			<div class="panel-body">
				<p><strong><%= wanderungen.description %></strong></p>
				<% if wanderungen.region %>
					<span class="glyphicon glyphicon-map-marker"></span>
					<%= wanderungen.region.description %>
				<% end %><br>
				<% if wanderungen.schwierigkeitsgrad %>
					<span class="glyphicon glyphicon-tag"></span>
					<%= wanderungen.schwierigkeitsgrad.description %>
				<% end %><br>
				<% if wanderungen.zeitdauer %>
					<span class="glyphicon glyphicon-time"></span>
					<%= wanderungen.zeitdauer %>Tage
				<% end %><br>			
				<% if wanderungen.upmeter %>
					<span class="glyphicon glyphicon-arrow-up"></span>
					<%= wanderungen.upmeter %>m
				<% end %><br>
				<% if wanderungen.downmeter %>
					<span class="glyphicon glyphicon-arrow-down"></span>
					<%= wanderungen.downmeter %>m
				<% end %>
				<p></p>
				<%= wanderungen.user.name if wanderungen.user %><br>
				<% if wanderungen.user == current_user %>
		        	<%= link_to edit_wanderungen_path(wanderungen) do %>
		        		<span class="glyphicon glyphicon-edit"></span>
		        		Bearbeiten
		        	<% end %>
		        	<%= link_to wanderungen, method: :delete, data: { confirm: 'Bist du sicher?' } do %>
		        		<span class="glyphicon glyphicon-trash"></span>
		        		Löschen
		        	<% end %>
		    	<% end %>
		    </div>
		</div>
	<% end %>
</div>

<br>

<div class="center">
	<%= will_paginate @wanderungens, renderer: BootstrapPagination::Rails %>
</div>
