<h1>Listing wanderungens</h1>

<%= form_tag wanderungens_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>User</th>
      <th>Schwierigkeitsgrad</th>
      <th>Zeitdauer</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @wanderungens.each do |wanderungen| %>
      <tr>
        <td><%= wanderungen.description %></td>
        <td><%= wanderungen.user.email if wanderungen.user %></td>
        <td><%= wanderungen.schwierigkeitsgrad.description if wanderungen.schwierigkeitsgrad %></td>
        <td><%= wanderungen.zeitdauer if wanderungen.zeitdauer %></td>
        <td><%= link_to 'Show', wanderungen %></td>
        <td><%= link_to 'Edit', edit_wanderungen_path(wanderungen) %></td>
        <td><%= link_to 'Destroy', wanderungen, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wanderungen', new_wanderungen_path %>
