<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @wanderungen.description %>
</p>
<p>
  <strong>Beschreibung:</strong>
  <%= @wanderungen.body %>
</p>
<p>
  <strong>Weitere infos:</strong>
  <%= h auto_link(@wanderungen.moreinfo).gsub(/\n/, '<br/>').html_safe %>
</p>

<%= image_tag @wanderungen.image.url(:medium) %>

<%= link_to 'Edit', edit_wanderungen_path(@wanderungen) %> |
<%= link_to 'Back', wanderungens_path %>
