<%= link_to 'Zurück', wanderungens_path %>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading center">
        <%= image_tag @wanderungen.image.url(:medium) %>
      </div>
      <div class="panel-body">
        <p><strong><%= @wanderungen.description %></strong></p>
        <% if @wanderungen.region %>
          <div class="pull-left">
            <span class="glyphicon glyphicon-map-marker"></span>
            <%= @wanderungen.region.description %>
          </div>
        <% end %>
        <% if @wanderungen.schwierigkeitsgrad %>
          <div class="pull-right">
            <span class="glyphicon glyphicon-tag"></span>
            <%= @wanderungen.schwierigkeitsgrad.description %>
          </div><br>
        <% end %>
        <% if @wanderungen.zeitdauer %>
          <span class="glyphicon glyphicon-time"></span>
          <%= @wanderungen.zeitdauer %>Tage
        <% end %>     
        <% if @wanderungen.downmeter %>
          <div class="inline pull-right">
            <span class="glyphicon glyphicon-arrow-down"></span>
            <%= @wanderungen.upmeter %>m
          </div>
        <% end %>
        <% if @wanderungen.upmeter %>
          <div class="inline pull-right">
            <span class="glyphicon glyphicon-arrow-up"></span>
            <%= @wanderungen.downmeter %>m
          </div>
        <% end %>
        <p></p>
        <p>
          <%= auto_link(@wanderungen.body) if @wanderungen.body %><br>
        </p>
        <p>
          <% if @wanderungen.moreinfo %>
          <p>Diese Wanderung ist ausführlich beschrieben auf:<br>
          <%= auto_link(@wanderungen.moreinfo) %>
          <% end %>
        </p>
        <p>
          Der Eintrag wurde hinzugefügt von:<br>
          <%= @wanderungen.user.name if @wanderungen.user %><br>
        </p>
        <% if @wanderungen.user == current_user %>
              <%= link_to edit_wanderungen_path(@wanderungen) do %>
                <span class="glyphicon glyphicon-edit"></span>
                Bearbeiten
              <% end %>
              <%= link_to @wanderungen, method: :delete, data: { confirm: 'Bist du sicher?' } do %>
                <span class="glyphicon glyphicon-trash"></span>
                Löschen
              <% end %>
        <% end %>
    </div>
  </div>
</div>