

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h1>Bearbeite deinen Account</h1>
      <!-- Ursprünglicher code von devise für titel: <h1>Edit <%= resource_name.to_s.humanize %></h1>-->
    </div>
  </div>
  <div class="panel-body">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control", :autofocus => true %>
      </div>

      <div class="form-group">
        <%= f.label :neues_passwort %> <i>(Leerlassen wenn du nichts ändern willst)</i>
        <%= f.password_field :password, class: "form-control", :autocomplete => "off" %>
      </div>

      <div class="form-group">
        <%= f.label :aktuelles_Passwort %> <i>(Wir brauchen dein aktuelles Passwort zur Bestätigung)</i>
        <%= f.password_field :current_password, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit "Account aktualisieren", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <div class="panel-footer">
    <h3>Meinen Account löschen</h3>

    <p>Unzufrieden? <%= button_to "Account löschen", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, class: "btn btn-warning" %></p>

    <%= link_to "Zurück", :back %>
  </div>
</div>

