<div class="jumbotron">
	<h1>Finde deine Wanderung</h1>

<%= search_form_for @search, :html => {:class => "form-inline"} do |f| %>
		<div class="form-group">
				<%= f.label :schwierigkeitsgrad_code_gteq, "Schwierigkeit von" %><br> 
				<%= f.select(:schwierigkeitsgrad_code_gteq, options_from_collection_for_select(Schwierigkeitsgrad.all, :code, :description), {:include_blank => true}, {class: "form-control reduced-width"}) %>
		</div>
		<div class="form-group">
				<%= f.label :schwierigkeitsgrad_code_lteq, "Schwierigkeit bis" %><br> 
				<%= f.select(:schwierigkeitsgrad_code_lteq, options_from_collection_for_select(Schwierigkeitsgrad.all, :code, :description), {:include_blank => true}, {class: "form-control reduced-width"}) %>
		</div>

		<div class="form-group">
  				<%= f.label :zeitdauer_gteq, "Anzahl Tage von" %><br>
  				<%= f.number_field :zeitdauer_gteq, :step => 0.5, :prompt => "Anzahl Tage von", class: "form-control doublereduced-width" %>
  		</div>
		<div class="form-group">
  				<%= f.label :zeitdauer_lteq, "Anzahl Tage bis" %><br> 
  				<%= f.number_field :zeitdauer_gteq, :step => 0.5, class: "form-control doublereduced-width" %>
  		</div>
		<div class="actions form-group ">
				<label></label><br>
				<%= f.submit "Los geht's", class: "btn btn-primary" %>
		</div>
<% end %>



</div>

